*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

@media (min-width: 992px){
	.block__one
	{
        margin-left: 40px;
        width: 30%;
        background: #7ebfa4;
        border: 3px solid black;
        padding-bottom: 40px;
     }
     .block__contair{
		margin-top: 40px;
        display: flex;
        
	}
 .text{
	margin-top: 40px;
	text-align: center;
	font-weight: bold;
	font-size: 28px;
	letter-spacing: 1px;
 }
 .block__two{
    margin-left: 40px;
    width: 30%;
    background: #7ebfa4;
    border: 3px solid black;
    padding-bottom: 40px;
 }
 .block__third{
    margin-left: 40px;
    width: 30%;
    background: #7ebfa4;
    border: 3px solid black;
    padding-bottom: 40px;
 }
 .txt__contair{
	background: #de910b;
	font-weight: bold;
	border: 3px solid black;
	width: 45%;
	font-size: 24px;
	letter-spacing: 1px;
	
	 
 }
 .txt__contair3{
	background: #de910b;
	font-weight: bold;
	border: 3px solid black;
	width: 45%;
	font-size: 24px;
	letter-spacing: 1px;
 }
.contair {
    display: flex;
    justify-content: flex-end;
}
.txt{
	justify-content: center;
	display: flex;
}
.txt__main{
	margin: 40px 20px;
	font-size: 18px;
}

}
@media(min-width: 768px) and (max-width: 992px){
	body{
		width: 100%;
	}
	.block__one
	{
        margin-left: 40px;
        width: 44%;
        background: #7ebfa4;
        border: 3px solid black;
        padding-bottom: 40px;
     }
     .block__contair{
		margin-top: 40px;
        display: flex;
		flex-wrap: wrap;
        
	}
 .text{
	margin-top: 40px;
	text-align: center;
	font-weight: bold;
	font-size: 28px;
	letter-spacing: 1px;
 }
 .block__two{
    margin-left: 40px;
    width: 30%;
    background: #7ebfa4;
    border: 3px solid black;
    padding-bottom: 40px;
 }
 .block__third{
    margin-left: 40px;
    width: 92%;
    background: #7ebfa4;
    border: 3px solid black;
    padding-bottom: 40px;
	margin-top: 40px;
 }
 .txt__contair{
	background: #de910b;
	font-weight: bold;
	border: 3px solid black;
	width: 45%;
	font-size: 24px;
	letter-spacing: 1px;
	
	 
 }
 .txt__contair3{
	background: #de910b;
	font-weight: bold;
	border: 3px solid black;
	width: 45%;
	font-size: 24px;
	letter-spacing: 1px;
 }
.contair {
    display: flex;
    justify-content: flex-end;
}
.txt{
	justify-content: center;
	display: flex;
}
.txt__main{
	margin: 40px 20px;
	font-size: 18px;
}
}
@media(max-width: 768px){
	
    .block__contair{
		margin-top: 40px;
	}
	.text{
		text-align: center;
		font-weight: bold;
		font-size: 24px;
	    letter-spacing: 1px;
	}
	.block__one
	{
        margin-left: 40px;
        width: 92%;
        background: #7ebfa4;
        border: 3px solid black;
        padding-bottom: 40px;
        margin-top: 40px;
     }
	.block__third
	{
        margin-left: 40px;
        width: 92%;
        background: #7ebfa4;
        border: 3px solid black;
        padding-bottom: 40px;
		margin-top: 40px;
     }
	 .txt__contair{
		background: #de910b;
		font-weight: bold;
		border: 3px solid black;
		width: 45%;
		font-size: 24px;
		letter-spacing: 1px;
		
		 
	 }
	 .txt__contair3{
		background: #de910b;
		font-weight: bold;
		border: 3px solid black;
		width: 45%;
		font-size: 24px;
		letter-spacing: 1px;
		
		 
	 }
	 .contair {
		display: flex;
		justify-content: flex-end;
	}
	.txt{
		justify-content: center;
		display: flex;
	}
	.txt__main{
		margin: 40px 20px;
		font-size: 18px;
	}

}


